* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  margin: 2.4rem 0;
}

section {
  padding: 7.9rem;
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 100%
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.padding-right {
  padding-right: 7rem;
}

.row>div {
  flex: 1;
}

/*Header*/
.navbar {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent);
}

.logo {
  font-size: 2.5rem;
  color: #ffffff;
  letter-spacing: .1rem;
  transition: color .4s;
}

.logo:hover {
  color: #e1b164;
}

.nav-links {
  position: initial;
  width: initial;
  min-height: initial;
  background-color: transparent;
  padding: 0;
  display: flex;
  list-style: none;
}

.nav-item {
  border: none;
  margin: 0 2.4rem;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  display: block;
  color: #ffffff;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: -2px;
  transition: color .5s
}

.nav-link:hover {
  color: #e1b164;
}

/*Hero*/
.hero {
  width: 100%;
  height: 100vh;
  background: url("/public/images/hero-bg.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.headline {
  font-family: "Source Sans 3", sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: .5rem;
  margin-right: -.5rem
}

h1.headline {
  font-family: "Poiret One", cursive;
  margin-bottom: 4rem;
  font-weight: 400;
  font-size: 5.5rem;
}

.hero button {
  background-color: #e1b164;
  color: #ffffff;
  border: none;
  padding: 20px 28px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;
  transition: all .4s;
}

.hero button:hover {
  background-color: #ffffff;
  color: #e1b164;
}

/*Story*/
.row {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  padding: 0px;
  align-items: center;
  text-align: center;
}

.sub-headline {
  font-size: 8.5rem;
  font-family: "Herr Von Muellerhoff", cursive;
  color: #e1b164;
  font-weight: 100;
  line-height: .4;
  letter-spacing: 2px;
}

.sub-headline:first-letter {
  text-transform: uppercase;
  font-size: 10.3rem
}

.headline-dark {
  color: #252525;
  letter-spacing: .7rem;
  margin-right: -.7rem
}

.global-headline {
  margin-top: 3.9rem;
  text-align: center
}

.global-headline .sub-headline {
  letter-spacing: -1px;
  line-height: .42;
}

.description {
  margin-bottom: 3rem;
}

.description p {
  line-height: 1.6;
  margin-bottom: 2.4rem
}

.story-img {
  max-width: 40rem;
}

.description {
  margin-bottom: 3rem;
}

.link-info {
  color: #e1b164;
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color .5s;
  text-decoration-line: underline;
}

.link-info:hover {
  color: #252525;
}

/*SubBanners*/
.image-section {
  height: 460px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Menu*/
.image-group {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1.5rem
}