body {
  margin: 0;
  font-family: "Cabin", sans-serif;
}

/*Hero*/
.hero {
  height: 100vh;
  background-image: url("/public/images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.hero-content {
  color: white;
  max-width: 500px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.hero button {
  background-color: #e1b164;
  color: #ffffff;
  border: none;
  padding: 14px 28px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 2px;
}
