* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

html {
  font-size: 10px;
}

header {
  display: block;
  unicode-bidi: isolate;
}

a {
  text-decoration: none;
}

section {
  padding: 7.9rem;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

/*Header*/
.navbar {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent);
}

.logo {
  font-size: 2.5rem;
  color: #ffffff;
  letter-spacing: .1rem;
  transition: color .4s;
}

.logo:hover {
  color: #e1b164;
}

.nav-links {
  position: initial;
  width: initial;
  min-height: initial;
  background-color: transparent;
  padding: 0;
  display: flex;
  list-style: none;
}

.nav-item {
  border: none;
  margin: 0 2.4rem;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  display: block;
  color: #ffffff;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: -2px;
  transition: color .5s
}

.nav-link:hover {
  color: #e1b164;
}

/*Hero*/
.hero {
  width: 100%;
  height: 100vh;
  background: url("/public/images/hero-bg.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.headline {
  font-family: "Poiret One", sans-serif;
  font-size: 5.5rem;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 4rem;
  letter-spacing: .5rem;
}

.hero button {
  background-color: #e1b164;
  color: #ffffff;
  border: none;
  padding: 20px 28px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 2px;
  transition: all .4s;
}

.hero button:hover {
  background-color: #ffffff;
  color: #e1b164;
}
